$earlyColor: #76abff;

.month {
  width: 15px;
  height: 15px;
  margin: 2px;
  background: #CCC;

  &.past {
    background: rgb(104, 212, 83);
  }
  &.early {
    background: $earlyColor;
  }
  &:hover,&.focus {
    border: 2px solid #666;
    margin: 0;
    cursor: pointer;
  }
}

#startMonth {
  margin-right: 5px;
}

.paymentPopover {
  display:none;
  position: absolute;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  margin-top: 10px;

  &:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 5px;
    border: 1px solid transparent;
    border-width: 25px 25px 0;
    border: solid transparent;
    border-bottom-color: rgba(0,0,0,0.7);
    display: block;
    width: 0;
    z-index: 1;
  }
  &:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 5px;
    border: 1px solid transparent;
    border-width: 26px 26px 0;
    border: solid transparent;
    border-bottom-color: rgba(0,0,0,0.7);
    display: block;
    width: 0;
    z-index: 0;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
}

@keyframes fadeOut {
  to { opacity: 0; }
}

.month:hover ~ .paymentPopover,
.month.focus ~ .paymentPopover {
  display: block;
  animation: fadeIn 0.75s;
}
